  <div class="navbar-strip"></div>
  <div class="greeting">
    Hi <span style="color: #e20808; font-weight: 600"> {{ user }} </span>
  </div>
  <div *ngIf="!showCloud">
  <div class="recording-icon-row">
    Are you
    <i
      class="fa fa-microphone microphone-icon"
      data-toggle="tooltip"
      data-placement="bottom"
      title="Click and record"
      aria-hidden="true"
      (click)="startVoiceRecognition()"
    ></i>
    ready !
  </div>

  <div class="speech-alert" #voicesection>
    <ng-container *ngIf="!voiceActiveSectionError; else failure">
      <ng-container *ngIf="voiceText; else start">
        <span
          >Great! Click
          <span
            style="font-weight: 600; text-decoration: underline"
            (click)="showWordCloud()"
            >here</span
          >
          to check word-cloud</span
        >
      </ng-container>
      <ng-template #start>
        <ng-container *ngIf="voiceActiveSectionListening; else beginning">
          <span>Listening...</span>
        </ng-container>
        <ng-template #beginning>
          <span>Click on microphone and record</span>
        </ng-template>
      </ng-template>
    </ng-container>
    <ng-template #failure>
      <span>Didn't catch that</span>
    </ng-template>
  </div>

  <ng-template #content>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="dismissModal()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Hello, World!</p>
    </div>
    <div class="modal-footer"></div>
  </ng-template>
</div>
<div *ngIf="showCloud" class="d-flex flex-row"> 
  <div style="margin-left: 15rem; font-size: 15vh;">Word</div> 
  <div class="word-cloud-box">
    <div class="words-position " >
      <div *ngFor="let word of wordCloud | keyvalue">
        <div class="words-padding word-size" tabindex="0" [ngClass]="'word-size-' + word.value">
          <div class="word-pointer">{{ word.key }}</div>
        </div>
      </div>
    </div>

  </div>
  <div style="margin-right: 15rem; font-size: 15vh;">Cloud</div>
</div>